.about-section{
    padding: 80px 0;
    background: #fdf2f4;
}

.about-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-image img{
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
}

.about-content h2{
    font-size: 40px;
    color: #3a2d2d;
    margin-bottom: 10px;
}

.about-content h3{
    font-size: 22px;
    color: #c77b84;
    margin-bottom: 20px;
}

.about-content p{
    font-size: 17px;
    color: #5f4b4b;
    margin-bottom: 20px;
    line-height: 1.7;
}

.mini-title{
    margin-top: 25px;
    font-size: 20px;
    color: #c77b84;
}

.about-list{
    margin-top: 10px;
    color: #5f4b4b;
    line-height: 1.8;
}
.contact-box{
    background: #fff1f5;
    padding: 20px;
    border-radius: 12px;
    margin-top: 25px;
    color: #5f4b4b;
    border-left: 4px solid #d66b7c;
}

.contact-box h4{
    color: #c76a7d;
    margin-bottom: 10px;
}



