body {
    margin: 0;
    padding: 0;
    background-color: #fff7fb;
}

.title {
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
    color: #5d2a42;
    font-weight: 700;
}

.cake-container {
    gap: 30px;
    padding: 20px 60px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

}

.cake-box {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cake-box img {
    width: 100%;
    height: 250px;
    border-radius: 12px;
}

.cake-box:hover {
    transform: translateY(-5px);
}

.cake-box h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #5b1f37;
}

.cake-box p {
    color: #9b5a73;
    font-size: 14px;
}
